html {
    background-color: #23272A;
    color: #ffff;
    text-align: center;
}

body {
    background-color: #23272A;
    align-content: flex-end;
}

.title {
    display: flex;
    font-family: "Cinzel";
    font-size: 6rem;
    justify-content: center;
}

#clock {
    font-family: "Cinzel";
    font-size: 3rem;
}

#memento-lg, #memento-sm {
    display: flex;
    font-family: "Cinzel";
    font-size: 4rem;
    justify-content: center;
}

p {
    font-family: "Cinzel";
    font-size: 2.5rem;
}

h3, h4 {
    font-family: "Cinzel";
    font-size: 4rem;
}
