html {
    background-color: #23272A;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
}

.count {
    font-family: "Cinzel";
    font-size: 6rem;
    line-height: 1;
    font-weight: 600;
    
}

#clock {
    font-family: "Cinzel";
    font-size: 8rem;
}

#memento {
    font-family: "Cinzel";
    font-size: 8rem;
}

p, #placeholder {
    font-family: "Cinzel";
    font-size: 2.5rem;
}